.page-toggler {
  display: flex;
  width: 500px;
  margin: 50px 0;
  padding-top: 0;
  justify-content: space-between;
  margin: 30px 0;
  height: 40px;
}

.toggler-btn {
  height: 100%;
  width: 48%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}
